* {
    box-sizing: border-box;
}
form{
    margin: auto;
}

label{
    color: black;
}
h1{
    color: black;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
}
button{
    margin: 10px 0px 30px 5px;
}